.clock-container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #0c021d;
}

.time-container{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #FFD700;
  border-radius: 50%;
  box-shadow: 0 0 20px #FFD700;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  transition: transform 1s linear;
}

.hour-planet {
  background-color: #E74C3C;
  box-shadow: 0 0 10px #E74C3C;
  width: 50px;
  height: 50px;
}

.minute-planet {
    background-color: #2ECC71;
    box-shadow: 0 0 10px #2ECC71;
    width: 40px;
    height: 40px;
}

.second-planet {
    background-color: #3498DB;
    box-shadow: 0 0 10px #3498DB;
    width: 25px;
    height: 25px;
}
