<div class="time-input-container">
  <input type="number" 
         [(ngModel)]="hours" 
         (change)="validateNumber($event, 'hours')"
         min="-1" max="24" 
         class="time-input">
  <span>:</span>
  <input type="number" 
         [(ngModel)]="minutes" 
         (change)="validateNumber($event, 'minutes')"
         min="-1" max="60" 
         class="time-input">
  <span>:</span>
  <input type="number" 
         [(ngModel)]="seconds" 
         (change)="validateNumber($event, 'seconds')"
         min="-1" max="60" 
         class="time-input">
  
  <button (click)="toggleAutoUpdate()" class="update-button">
    {{ isAutoUpdating ? 'Detener' : 'Actualizar' }}
  </button>
</div>