<div class="container">
    <div class="clock-container">
        <h1>Reloj analógico</h1>
        <app-analog-clock></app-analog-clock>
    </div>
    <div class="clock-container">
        <h1>Reloj Binario</h1>
        <app-binary-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj Digital</h1>
        <app-digital-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj de Arena</h1>
        <app-digital-hourglass-clock></app-digital-hourglass-clock>
    </div>
    <div class="clock-container">
        <h1>Reloj de flores</h1>
        <app-flower-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj de barra de carga</h1>
        <app-loading-bar-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj de cartas</h1>
        <app-rainbow-card-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj de 7 segmentos</h1>
        <app-seven-segments-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj basado en órbitas</h1>
        <app-star-clock/>
    </div>
    <div class="clock-container">
        <h1>Reloj de texto escrito</h1>
        <app-text-clock/>
    </div>
</div>