<div class="container">
    <div class="clock-container">
        <app-analog-clock></app-analog-clock>
    </div>
    <div class="clock-container">
        <app-binary-clock/>
    </div>
    <div class="clock-container">
        <app-digital-clock/>
    </div>
    <div class="clock-container">
        <app-digital-hourglass-clock></app-digital-hourglass-clock>
    </div>
    <div class="clock-container">
        <app-flower-clock/>
    </div>
    <div class="clock-container">
        <app-loading-bar-clock/>
    </div>
    <div class="clock-container">
        <app-rainbow-card-clock/>
    </div>
    <div class="clock-container">
        <app-seven-segments-clock/>
    </div>
    <div class="clock-container">
        <app-star-clock/>
    </div>
    <div class="clock-container">
        <app-text-clock/>
    </div>
</div>